.navbar {
    background-color: #d3cfbc;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
}

.nav-menu {
    background-color: #0a2c02;
    width: 333px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
}

.nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px 0px 10px 20px;
    list-style: row;
    height: 60px;
}

.nav-text a {
    font-family: OpenSauceTwo, sans-serif;
    font: OpenSauceTwo-SemiBold;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 2px;
}

.nav-text a:hover {
    background-color: #aaa37d;
}

.nav-menu-items {
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
}

span {
    align-content: center;
    justify-content: center;
    margin-left: 2rem;
    margin-right: 2rem;
}