@font-face {
  font-family: 'spaceGrotesk';
  src: url('../../fonts/SpaceGrotesk[wght].woff2');
}

.page {
  --button-primary-hover: #ccc;
  --button-secondary-hover: #d4472d;
  --background-colour: #accab2;
  --secondary-colour: #d4472d;
  --tertiary-colour: #e9a752;
  --quaternary-colour: #78614d;
  --major_inverting_filter: invert(93%) sepia(11%) saturate(5067%) hue-rotate(319deg) brightness(96%) contrast(90%);
  --major_inverting_filter_hover: invert(35%) sepia(17%) saturate(6309%) hue-rotate(344deg) brightness(91%) contrast(88%);
  --minor_inverting_filter: invert(35%) sepia(17%) saturate(6309%) hue-rotate(344deg) brightness(91%) contrast(88%);
  --minor_inverting_filter_hover: invert(93%) sepia(11%) saturate(5067%) hue-rotate(319deg) brightness(96%) contrast(90%);
  --minor_filter: brightness(0) saturate(100%) invert(77%) sepia(42%) saturate(657%) hue-rotate(332deg) brightness(97%) contrast(94%);
  --minor_filter_hover: invert(89%) sepia(100%) saturate(46%) hue-rotate(326deg) brightness(111%) contrast(111%);
  --white_filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(187deg) brightness(105%) contrast(101%);

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: spaceGrotesk;
}

.page.dark {
  --background-colour: #060f37;
  --secondary-colour: #e9a752;
  --tertiary-colour: #1E6496;
  --quaternary-colour: #d4472d;

  --background: var(--background-colour);
  --foreground: var(--secondary-colour);
  --major_inverting_filter: invert(93%) sepia(11%) saturate(5067%) hue-rotate(319deg) brightness(96%) contrast(90%);
  --major_inverting_filter_hover: invert(35%) sepia(17%) saturate(6309%) hue-rotate(344deg) brightness(91%) contrast(88%);
  --minor_inverting_filter: invert(35%) sepia(17%) saturate(6309%) hue-rotate(344deg) brightness(91%) contrast(88%);
  --minor_inverting_filter_hover: invert(93%) sepia(11%) saturate(5067%) hue-rotate(319deg) brightness(96%) contrast(90%);
  --minor_filter: brightness(0) saturate(100%) invert(77%) sepia(42%) saturate(657%) hue-rotate(332deg) brightness(97%) contrast(94%);
  --minor_filter_hover: invert(89%) sepia(100%) saturate(46%) hue-rotate(326deg) brightness(111%) contrast(111%);
  --white_filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(187deg) brightness(105%) contrast(101%);

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: spaceGrotesk;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

.main ol {
  font-family: spaceGrotesk;
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  list-style-position: inside;
}

.postHeader {
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-align: center;
}

.postTitle {
  display: table;
  flex-direction: row;
  padding: 8px;
}

.postTitle h1.title {
  display: table-cell;
  align-items: center;
  justify-content: center;
  /* font-size: 20px; */
}

.postTitle Link.postsSeekingButton {
  display: table-cell;
  align-items: flex-start;
  justify-content: left;
  vertical-align: middle;
}

.postContent {
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.postContent h1 {
  font-family: spaceGrotesk;
  font-size:44px;
  line-height: 54px;
  letter-spacing: -0.01em;
  text-align: justify;
}

.postContent a {
  color: var(--quaternary-colour);
}

.main h1 {
  font-family: spaceGrotesk;
  font-size:66px;
  line-height: 76px;
  letter-spacing: -0.01em;
}

.main li {
  margin-bottom: 8px;
  list-style-position: outside;
}

.main ul {
  font-family: spaceGrotesk;
  padding-inline-start: 16px;
  list-style-position: outside;
}

.main code {
  font-family: inherit;
  background: var(--quaternary-colour);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}

.ctas {
  display: flex;
  gap: 16px;
}

.ctas div.otherButtons {
  margin-right: 16px;
  margin-left: auto;
  gap: 16px;
  display: flex;
}

.ctas div.otherButtons a.other {
  border-color: var(--secondary-colour);
  color: var(--secondary-colour);
  background-color: var(--secondary-colour);
}

.ctas div.otherButtons a.other:hover {
  background-color: var(--tertiary-colour);
  border-color: var(--tertiary-colour);
}

.ctas a {
  appearance: none;
  border-radius: 64px;
  height: 48px;
  padding: 0 20px;
  border: none;
  border: 1px solid transparent;
  transition:
    background 0.1s,
    color 0.1s,
    border-color 0.1s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

.ctas a.major {
  border-color: var(--secondary-colour);
  background: var(--secondary-colour);
  color: var(--tertiary-colour);
  gap: 8px;
}

.ctas a.major .inverting{
  transition:
    background 0.1s,
    color 0.1s,
    border-color 0.1s;
  filter: var(--major_inverting_filter);
  color: var(--tertiary-colour);
}

/* for the SVG */
.ctas a.major:hover .inverting {
  transition:
    background 0.1s,
    color 0.1s,
    border-color 0.1s;
  filter: var(--major_inverting_filter_hover);
  color: var(--secondary-colour);
}

.ctas a.major:hover {
  border-color: var(--tertiary-colour);
  background: var(--tertiary-colour);
  color: var(--secondary-colour);
}

.settings_button a {
  appearance: none;
  border-radius: 64px;
  height: 48px;
  padding: 0 20px;
  border: none;
  border: 1px solid transparent;
  transition:
    background 0.1s,
    color 0.1s,
    border-color 0.1s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

.settings_button a.major {
  border-color: var(--secondary-colour);
  background: var(--secondary-colour);
  color: var(--tertiary-colour);
  gap: 8px;
}

.settings_button a.major .inverting{
  transition:
    background 0.1s,
    color 0.1s,
    border-color 0.1s;
  filter: var(--major_inverting_filter);
  color: var(--tertiary-colour);
}

/* for the SVG */
.settings_button a.major:hover .inverting {
  transition:
    background 0.1s,
    color 0.1s,
    border-color 0.1s;
  filter: var(--major_inverting_filter_hover);
  color: var(--secondary-colour);
}

.settings_button a.major:hover {
  border-color: var(--tertiary-colour);
  background: var(--tertiary-colour);
  color: var(--secondary-colour);
}

.ctas a.minor{
  border-color: var(--secondary-colour);
  min-width: 125px;
}

.ctas a.minor:hover {
  border-color: var(--secondary-colour);
  color: var(--tertiary-colour);
  background-color: var(--secondary-colour);
}

.ctas a.minor .inverting{
  transition:
    background 0.1s,
    color 0.1s,
    border-color 0.1s;
  filter: var(--minor_inverting_filter);
  color: var(--secondary-colour);
}

/* for the SVG */
.ctas a.minor:hover .inverting {
  transition:
    background 0.1s,
    color 0.1s,
    border-color 0.1s;
  filter: var(--minor_inverting_filter_hover);
  color: var(--tertiary-colour);
}

.ctas a.pdf_button {
  border-color:var(--secondary-colour);
  background-color: var(--tertiary-colour);
  border-radius: 6px;
  height: 400px;
  width: 250px;
  color: var(--secondary-colour);
  display: grid;
  gap: 16px;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  text-align: center;
}

.ctas a.pdf_button:hover {
  border-color: var(--secondary-colour);
  background-color: var(--secondary-colour);
  color: var(--tertiary-colour);
  gap: 16px;
  transition:
    background 0.1s,
    color 0.1s,
    border-color 0.1s;
}

.container {
  display: inline-block;
  align-items: center;
}

.ctas_mobile {
  display: flex;
  gap: 16px;
}

.ctas_mobile a {
  appearance: none;
  border-radius: 64px;
  height: 58px;
  padding: 0 20px;
  border: none;
  border: 1px solid transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

.ctas_mobile a.other {
  border-color: var(--secondary-colour);
  color: var(--secondary-colour);
  background-color: var(--secondary-colour);
  height: 58px;
}

.ctas_mobile a.other:hover {
  background-color: var(--tertiary-colour);
  border-color: var(--tertiary-colour);
}

.ctas_mobile a.other .inverting{
  filter: var(--white_filter);
}

.header {
  grid-row-start: 3;
  display: grid;
  gap: 5px;
  position: absolute;
  top: 16px;
  left: 16px;
  right: 16px;
  width: auto;
  font-family: spaceGrotesk;
}

.header a.other{
  position: relative;
  right:0px;
  top: 0px;
  gap: 16px
}

.header a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header img {
  flex-shrink: 0;
}

.footer {
  font-family: spaceGrotesk;
  display: flex;
  gap: 5px;
  right: 16px;
  bottom: 16px;
}

.footer a {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.footer div.webring {
  margin-left: auto;
  margin-right: 16px;
}

.footer div.settings_access {
  margin-right: auto;
  margin-left: 16px;
}

.footer div.settings_access img.settings_icon {
  transition:
    background 0.1s,
    color 0.1s,
    border-color 0.1s;
  filter: var(--minor_inverting_filter);
  color: var(--secondary-colour);
}

.footer div.settings_access img.settings_icon:hover {
  transition:
    background 0.1s,
    color 0.1s,
    border-color 0.1s;
  filter: var(--minor_inverting_filter_hover);
  color: var(--tertiary-colour);
}


.footer img {
  flex-shrink: 0;
}

.email_link {
  padding: 6px;
}
.email_link a:hover {
  text-decoration:underline;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px ) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
    text-align: center;
  }

  .main h1 {
    font-family: spaceGrotesk;
    font-size:33px;
    line-height: 38px;
    letter-spacing: -0.01em;
  }

  .main ol {
    text-align: center;
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  a.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .ctas {
    display: none;
  }

  a.pdf_button {
    display: flex;
  }

  a.settings_button {
    display: flex;
  }
}

@media (min-width: 601px ) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  .ctas_mobile {
    flex-direction: column;
  }

  .ctas_mobile a {
    font-size: 14px;
    height: 48px;
    padding: 0 16px;
  }

  a.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .ctas_mobile {
    display: none;
  }
}

a.major {
  border-color: var(--secondary-colour);
  background: var(--secondary-colour);
  color: #000;
  gap: 8px;
}

a.major:hover {
  border-color: #fff;
  background: #fff;
  color: #000;
}

a.minor {
  border-color: var(--secondary-colour);
  min-width: 125px;
}

a.minor:hover {
  border-color: var(--secondary-colour);
  color: #000;
  background-color: var(--secondary-colour);
}

a.minor .inverting{
  transition:
    background 0.1s,
    color 0.1s,
    border-color 0.1s;
  filter: var(--minor_filter);
}
/* for the SVG */
a.minor:hover .inverting {
  transition:
    background 0.1s,
    color 0.1s,
    border-color 0.1s;
  filter: var(--minor_filter_hover);
}

a.other {
  border-color: var(--secondary-colour);
  float: right;
}

a.other:hover {
  background-color: var(--secondary-colour);
}

a.pdf_button {
  border-color: var(--secondary-colour);
  background-color: var(--tertiary-colour);
  border-radius: 6px;
  height: 400px;
  width: 250px;
  color: #fff;
  display: grid;
  gap: 16px;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  text-align: center;
}

a.pdf_button:hover {
  border-color: var(--secondary-colour);
  background-color: var(--secondary-colour);
  color: #ffffff;
  gap: 16px;
  transition:
    background 0.1s,
    color 0.1s,
    border-color 0.1s;
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}

.ctas_mobile vertical_pdfs{
  display: flex;
  vertical-align: middle;
  padding: 16px;
  gap: 16px;
  justify-content: space-between;
}


/* From Uiverse.io by Voxybuns */ 
/* The switch - the box around the slider */

.div.toggle_switch {
  display: table;
  flex-direction: row;
  padding: 8px;
}

.div.toggle_switch h3 {
  display: table-cell;
  align-items: center;
  justify-content: center;
  font-size: 30000px;
}

.switch {
  /* Variables */
 --switch_width: 2em;
 --switch_height: 1em;
 --thumb_color: #e8e8e8;
 --track_color: #e8e8e8;
 --track_active_color: #888;
 --outline_color: #000;
 font-size: 17px;
 position: relative;
 display: inline-block;
 width: var(--switch_width);
 height: var(--switch_height);
}

/* Hide default HTML checkbox */
.switch input {
 opacity: 0;
 width: 0;
 height: 0;
}

/* The slider */
.slider {
 box-sizing: border-box;
 border: 2px solid var(--outline_color);
 position: absolute;
 cursor: pointer;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: var(--track_color);
 transition: .15s;
 border-radius: var(--switch_height);
}

.slider:before {
 box-sizing: border-box;
 position: absolute;
 content: "";
 height: var(--switch_height);
 width: var(--switch_height);
 border: 2px solid var(--outline_color);
 border-radius: 100%;
 left: -2px;
 bottom: -2px;
 background-color: var(--thumb_color);
 transform: translateY(-0.2em);
 box-shadow: 0 0.2em 0 var(--outline_color);
 transition: .15s;
}

input:checked + .slider {
 background-color: var(--track_active_color);
}

input:focus-visible + .slider {
 box-shadow: 0 0 0 2px var(--track_active_color);
}

/* Raise thumb when hovered */
input:hover + .slider:before {
 transform: translateY(-0.3em);
 box-shadow: 0 0.3em 0 var(--outline_color);
}

input:checked + .slider:before {
 transform: translateX(calc(var(--switch_width) - var(--switch_height))) translateY(-0.2em);
}

/* Raise thumb when hovered & checked */
input:hover:checked + .slider:before {
 transform: translateX(calc(var(--switch_width) - var(--switch_height))) translateY(-0.3em);
 box-shadow: 0 0.3em 0 var(--outline_color);
}