@import './fonts/stylesheet.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'OpenSauce', sans-serif;
}

.home, .blog, .cv, .projects {
  display: block;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}


.App {
  text-align: center;
  background-color: #0a2c02;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  background-color: #d3cfbc;
}

.pageHead {
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 3rem;
  padding: 1rem;
}

.pageBody {
  display: block;
  align-items: center;
  justify-content: left;
  font-size: 1.75rem;
  padding: 1rem;
}

p {
  margin-bottom: 1.75rem;
}

li {
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
}

h3 {
  margin-top: 1rem;
}

.container {
  display: block;
  align-items: center;
  justify-content: center;
  margin-left: 5rem;
  margin-right: 5rem;
}

.contact_form .form_control {
  padding: 1.375rem .75rem;
  line-height: 1.5;
  color: #fff;
  background-color: #0a2c02;
  border-radius: 0 !important;
  border: 1px solid #fff;
}

.contact_form input.form-control {
  margin-bottom: 2em;
  height: calc(2.5em + .75em + 2px);
}

.btn {
  color: #fff;
  border: 2px solid #fff;
}

.btn:hover{
  color: #fff;
}